/*
*{
    box-sizing: border-box;
}
.recentWork{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;

}
.recentWork img{
    width: 100%
}
.recentWork section{
    display: flex;
    flex-direction: column;
    width: 30%
}
*/
.tede{
        display: grid;
        grid-template-columns: 2fr 1.5fr; 
        grid-gap: 4em;
        

    
}

.testimonials{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-gap: 2em;


    
}

.testimonials section{
    padding: 1em;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);


}

.testimonials section p{

}

.development{
    display: grid;
    padding: 2em;
}
#tabs {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

#tabs label {
    background: #eee;
    padding: 0.7em 1em;
    cursor: pointer;
    z-index: 1;
    margin-left: -1px;
}

#tabs label:first-of-type {
    margin-left: 0;
}

.tab-content {
    width: 100%;
    padding: 1em;
    order: 1;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
    background: #fff;
}

.tab-content button {
    background: #4f8ccd;
    color: #fff;
    text-transform: uppercase;
    padding: 1em 3em;
    border-radius: 3px;
    margin-left: auto;
}

#tabs input[type='radio'],
.tab-content {
    display: none;

}

#tabs input[type='radio']:checked+label {
    background: #fff;
    border-bottom: 0px solid #fff;
        box-shadow: 0 0 0px rgba(0, 0, 0, 0.46);

}

#tabs input[type='radio']:checked+label+.tab-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}