.containerLarge { /* This is the main page */
    width: 700px;
    height: 800px;
    padding: 10px;
    border: 5px solid tomato;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    /*margin: 0;*/
}
                /* This is for image*/
.cvImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 140px;
    height: 140px;
    
    /*padding-left: 55px;
    padding-bottom: 5px;
    margin-inline-end: 10px;
    border: 1px dotted rgba(0, 0, 0, 0.185);*/
    
}
img{
    border:4px solid #419BF9;
}
.containerLeftLarge {        /* this is the large left container*/
    width: 280px;
    height: 800px;
    float: left; 
        border: 5px solid black;

    /*this will keep the div in the left side 
     so we can push the another container in right side.*/
}
/* left 1 2 3 are the smaller containers DIV in the left side*/
.containerLeft1{
    width: 250px;
    height: 340px;
    
    float: left;
    margin-bottom: 5%;

}
.containerLeft1p{
    padding-left:5%;
    float: left;

}

.containerLeft2{
    width: 250px;
    height: 200px;  
    margin-bottom: 05%;
    float: left;

}
.containerLeft3{
    width: 250px;
    height: 180px;   
    margin-bottom: 0%;
    float: left;
}

/*this is the right main cntainer which contains, 1,2,3 smaller containers. */
.containerRightLarge{
    width: 390px;
    height: 780px;
    padding: 5px;
    border-left: 5px solid #1abc9c;
    margin-bottom: 100%;
    
    float: right; /* this will float div to the right and give CV template look.*/
}
.containerRight1{
    width: 380px;
    height: 300px;
    float: right;
    margin-bottom: 10px;
    
}
.containerRight2 {
    width: 380px;
    height: 200px;
    float: right;
    margin-bottom: 10px
}
.containerRight3 {
    width: 380px;
    height: 240px;
    float: right;
    margin-bottom: 10px
}
hr{
    border-style: inset;
    border-width: 2%;
}
p:not(.not) {
    line-height: 60%;
}
.vl {
    border-left: 2px solid #1abc9c;
    height: 500px;

    
}
.blue{
    color:#1abc9c;
       margin-left: 40%;

}
h4{
   color: #1abc9c;
   margin-left: 40%;
}
h1 {
    color: tomato;
}
i{
    color: #419BF9;
}