*{
    box-sizing: border-box;
}

/*=================================
    NAVIGATION
==================================*/
nav {
    display: grid;
    grid-template-columns: repeat(minmax(250px, 1fr), auto-fit);
    grid-auto-flow: column;
    width: 100%;
    border: 2px solid blue;
    background-color: #FFFFFF;
    
}

.logo {
    display: grid;
    grid-auto-flow: column;
    border: 2px solid red;
    align-content: center;
    justify-content: end;
}

.nav {
    list-style-type: none;
    display: grid;
    grid-auto-flow: column;
    grid-gap: 1em;
    border: 2px solid yellow;
    align-content: center;
}

.nav li{
    border: 2px solid #DCDDDB;
    background-color: #DCDDDB;
    border-radius: 6%;
    text-align: center;
    
}
/*============================================
    Below Navigation, 3 images and smilng man.
==============================================*/
.threeImage img {
    width: 150px;
    height: 150px;
    border-radius: 50%
}

.belowNav {
    border: solid 2px red;
    display: grid;
    grid-gap: 1em;
}

.belowNavWrapper {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr;
    
}

.smilingMan {
    border: 2px solid red;

}



/*============================================
    Blog starts from here, it is above footer.
==============================================*/

.blog{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 1em;
}

/*=============
    FOOTER
==============*/
footer{
    background-color: #DDDDDD;
}
.footerWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.footerWrapper div {
    display: grid;
    justify-content: center;
    text-align: center;
    border: 2px solid red;

}

.footerWrapper span{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 2px solid red;
    align-content: center;
    justify-content: center;
    grid-gap: 0px;
    margin: 0px;
    padding: 0px;
}

i{
    border: 2px solid yellow;
    font-size: 2em;
    margin: 1em;
}

.copyRight {
    display: grid;
    justify-content: center;
    align-self: center;
    margin-top: 1em;
    color: grey;
}