*{
    box-sizing: border-box;
}

/*=================================
    NAVIGATION
==================================*/
nav {
    display: grid;
    grid-template-columns: repeat(minmax(250px, 1fr), auto-fit);
    grid-auto-flow: column;
    width: 100%;
    border: 2px solid blue;
    
}

.logo {
    display: grid;
    grid-auto-flow: column;
    border: 2px solid red;
    align-content: center;
    justify-content: end;
}

.nav {
    list-style-type: none;
    display: grid;
    grid-auto-flow: column;
    grid-gap: 1em;
    border: 2px solid yellow;
    align-content: center;
}

.nav li{
    border: 2px solid grey;
    background-color: aliceblue;
    border-radius: 6%;
    
}
/*============================================
    Below Navigation, 3 images and smilng man.
==============================================*/
.threeImage img {
    width: 150px;
    height: 150px;
    border-radius: 50%
}

.belowNav {
    border: solid 2px red;
    display: grid;
    grid-gap: 1em;
}

.belowNavWrapper {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr;
    
}

.smilingMan {
    border: 2px solid red;

}



/*============================================
    Blog starts from here, it is above footer.
==============================================*/

.blog{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 1em;
}

/*=============
    FOOTER
==============*/
footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1em;
}

footer div{
    display: grid;
    justify-content: center;

}